[project]
	description = Android Morphing Button
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Saqib Sarker (Saqqe)
[access "refs/for/refs/*"]
	read = group user/Saqib Sarker (Saqqe)
	push = group user/Saqib Sarker (Saqqe)
	label-Code-Review = -2..+2 group user/Saqib Sarker (Saqqe)
	label-Verified = -1..+1 group user/Saqib Sarker (Saqqe)
	rebase = group user/Saqib Sarker (Saqqe)
	removeReviewer = group user/Saqib Sarker (Saqqe)
	submit = group user/Saqib Sarker (Saqqe)
[access "refs/heads/*"]
	read = group user/Saqib Sarker (Saqqe)
	create = group user/Saqib Sarker (Saqqe)
	push = +force group user/Saqib Sarker (Saqqe)
	pushMerge = group user/Saqib Sarker (Saqqe)
[access "refs/tags/*"]
	push = group user/Saqib Sarker (Saqqe)
	push = +force group user/Saqib Sarker (Saqqe)
